.main {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: calc(10vw + 70px) 10vw 10vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.msg {
    margin: 0 10vw 0 10vw;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.05);
    border-left: 5px solid rgba(255, 230, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtersDiv {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.2);
    border: solid 2px transparent;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
}

.searchform {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.isopenfilters {
    position: absolute;
    background: rgba(41, 41, 41, 0.9);
    margin: 0 !important;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.isopenauthor {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.isopenauthor p {
    font-weight: 600;
}

.authorinput {
    cursor: pointer;
}

.isopensort {
    position: absolute;
    background: rgba(41, 41, 41, 0.9);
    margin: 0 !important;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

.isopensort div{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.isopensort div p{
    font-weight: 600;
}

.mainlist {
    width: 100%;
    display: flex;
}

.itemslist {
    width: calc(75% - 5px);
    margin-right: 5px;
}

.asside {
    width: 25%;
}

.assideSec {
    width: 100%;
}

.item, .assideitem {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.1);
    border: solid 2px transparent;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
}

.picdiv, .assidepicdiv {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.4);
    margin: 1vh 0 1vh 0;
}

.assideitemimg {
    min-width: 30%;
    min-height: 30%;
}

.infosSec {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.infosSec h2 {
    margin: 0 0 5px 0;
}

.infosSec p {
    margin: 0;
}

.item {
    flex-direction: column;
}

.picdiv {
    width: 100%;
    height: auto;
    margin: 2vh 0 2vh 0;
}

.tagsdiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    width: 100px;
    height: 36px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.3s;
}



.divider {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 2vh 0 0 0;
}




.usersdiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.usersdiv img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

.usersdivinfo {
    padding: 1vw;
}

.usersdivinfo {
    margin-bottom: 1vw !important;
}

.aboutme {
    font-style: italic;
}




.itemimg {
    min-width: 100%;
    min-height: 100%;
}

.item a {
    margin: 0 2vw 0 0;
}

.innerSection {
    width: 100%;
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.innerSection * {
    margin: 0 1vw 0 0;
}

.authorlink {
    margin: 0 1vw 0 0 !important;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    width: 30px !important;
    height: 30px !important;
}

.lastbtn {
    margin-right: 0 !important;
}

.firstbtn {
    margin-left: 0 !important;
}





.comm, .rep {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.2);
    border: solid 2px transparent;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
}

.commsec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.commlikes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}













.textblocks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textblocks * {
    margin: 1vw 0 1vw 0;
    box-sizing: border-box;
}

.blockheader {
    font-size: 24px;
}

.blockparagraph {
    font-size: 16px;
}

.blocklist {
    color:  rgb(255, 255, 255);
}

.listitem {
    margin: 1vw;
}

.delimiter {
    align-self: center;
    font-size: 36px;
}

.quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  rgb(255, 255, 255);
}

.quotequote {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.firstq {
    margin: 1vw;
}

.quotequote blockquote {
    margin: 1vw;
    padding: 0;
}

.secondq {
    margin: 1vw;
}

.quoteby {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 14px;
}

.quoteby p {
    text-align: center;
}

.linktool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linktool b {
    font-size: 16px;
}

.warning {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.05);
    border-left: 5px solid rgba(255, 230, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.warnsign {
    color:rgba(255, 230, 0, 0.7);
    height: 100%;
    font-size: 16px;
    margin: 2vw !important;
}

.warndiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.warndiv b {
    font-size: 14px;
}

.warndiv p {
    font-size: 16px;
}








@media screen and (max-width: 425px) {

    .mainlist {
        flex-direction: column;
    }

    .itemslist {
        width: 100%;
        margin: 5px;
    }

    .asside {
        width: 100%;
        margin: 5px;
    }

}